.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #6e8efb, #c00b0b);
    color: white;
    text-align: center;
    position: relative; // Add this line to position the logo

    .hero-content {
        h1 {
            font-size: 4rem;
            margin-bottom: 1rem;
            color: #571f1f;
        }

        p {
            font-size: 1.5rem;
            color: #571f1f;
            margin-bottom: 2rem;
        }

        button {
            padding: 0.75rem 2rem;
            font-size: 1rem;
            border: none;
            border-radius: 5px;
            background: #571f1f;
            color: rgb(161, 149, 149);
            cursor: pointer;
            transition: background 0.3s ease;

            &:hover {
                background: #ca0738;
            }
        }
    }

    .hero-logo {
        width: 300px;
        height: auto;
        object-fit: contain;
    }
}   